input,
select,
button,
textarea {
  outline: none;
}
/* Check box*/
.check__box {
  input {
    display: none;
    &:checked + i {
      background-color: $primary;
      background-image: url(../images/check.svg);
    }
  }
  i {
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid $primary;
    background-repeat: no-repeat;
    background-position: 3px 4px;
    display: inline-block;
    height: 20px;
    width: 20px;
  }
}
.organization__table {
  border-spacing: 0 20px;
}
.boxShadow {
  box-shadow: 0 0px 4px #ccc;
}
